.searchComics {
    margin-top: 20px;
    width: 800px;
    height: 45px;
}

.searchComponent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-search {
    margin-top: 20px;
    padding: 10px;
    margin-left: 10px;
    width: 130px;
    text-align: center;
}