.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App-link {
  color: #61dafb;
}

.heading {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.app-header {
  background-color: #282c34;
  width: 100%;
  height: auto;
  color: white;
}

.app-logo {
  width: 120px;
  height: 120px;
  padding: 5px 0px;
  margin-right: 30px;
}

.comic-header {
  margin-top: 25px;
}

@media (max-width: 550px) {
  .app-logo {
    margin-right: 0px;
  }
}
