.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.app-header {
    background-color: #282c34;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
}

.app-logo {
  width: 180px;
  height: 180px;
  padding: 5px 0px;
  margin-right: 70px;
}

@media (max-width: 550px) {
  .app-logo {
    margin-right: 0px;
  }
}